html {
  box-sizing: border-box;
  background-color: #379DA4;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
section {
    border-width: 3px;
    border-color: black;
    border-style: solid;
    background-color: #F4F4DD;
}
nav {
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    background-color: #F4F4DD;
}
nav ul li a {
    font-size: 30px;
}
a {
    color: #FF6800;
}
header {
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    display: flex;
    padding-left: 15px;
    justify-content: space-around;
}
nav ul li {
    margin-right: 15px;
}
div.developer {
    padding: 5px;
}
div.developer img {
    height: 50px;
    width: 50px;
}
span.author-name {
    font-size: 50px;
}
body {
    margin: 0px;
}
main {
    padding: 0;
}
#intro, footer, .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content {
    grid-template-columns: 1fr 2fr 2fr;
    display: grid;
}
.column {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
.column * {
    margin-left: 15px;
}
.row {
    margin-left: 0px;
    padding-left: 10px;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}
.row:last-child {
    border-bottom: none;
}
.projects ul {
    margin-left: 0px;
    list-style: none;
    padding-left: 0px;
}
.projects ul li {
    margin-left: 0px;
    margin-top: 15px;
    border-bottom: 1px solid #000000;
    padding-left: 25px;
}
.projects ul li:last-child {
    border-bottom: none;
}
div.education ul {
    margin-left: 0px;
    list-style: none;
    padding-left: 0px;
}
div.education ul li {
    margin-left: 0px;
    margin-top: 15px;
    padding-left: 25px;
}
div.education ul li::before {
  content: "-";
  margin-right: 8px;
}
#reviews {
  padding: 10px;
}
div.reviews {
  display: flex;
}
blockquote, article {
  padding: 10px;
  margin: 10px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
  width: 300px;
}
textarea {
    display: block;
}
form {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
}
h1, h2, h3 {
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}
p.author {
  color: #858484;
}
